In [1]:
# show code version https://peps.python.org/pep-0440/ - PyPI versioning
# version release information is also available under CHANGELOG.md for details
__version__ = open("../VERSION", 'rt').read() # bump codecov
print(f"Current Code Version: {__version__}")

# the author name is skipped, however copywright is provided as such
# commit level author is available on git commits, and details can be setup
__copyright__ = "Copywright Â© 2023 Debmalya Pramanik (ZenithClown)"

Current Code Version: v1.0.0-dev.0

<h1 align = "center">Fetch IPO Details using Web Scrapping</h1>

---

IPO details are primarily fetched from [chittorgarh.com](https://www.chittorgarh.com/) which provides reliable informations regarding listing, subscription status, GMP, and other metrices necessary for understanding and analysis of the companies fundamentals.

In [2]:
import sqlalchemy as sa

In [3]:
from urllib.parse import quote_plus

In [4]:
import swifter # noqa: F401, F403 # pyright: ignore[reportMissingImports]
import numpy as np
import pandas as pd

%precision 3
pd.set_option('display.max_rows', 50) # max. rows to show
pd.set_option('display.max_columns', 15) # max. cols to show
np.set_printoptions(precision = 3, threshold = 15) # set np options
pd.options.display.float_format = '{:,.3f}'.format # float precisions

## User Defined Function(s)

It is recommended that any UDFs are defined outside the scope of the *jupyter notebook* such that development/editing of function can be done more practically. As per *programming guidelines* as [`src`](https://fileinfo.com/extension/src) file/directory is beneficial in code development and/or production release. However, *jupyter notebook* requires *kernel restart* if any imported code file is changed in disc, for this frequently changing functions can be defined in this section.

**Getting Started** with **`PYTHONPATH`**

One must know what are [Environment Variable](https://medium.com/chingu/an-introduction-to-environment-variables-and-how-to-use-them-f602f66d15fa) and how to call/use them in your choice of programming language. Note that an environment variable is *case sensitive* in all operating systems (except windows, since DOS is not case sensitive). Generally, we can access environment variables from terminal/shell/command prompt as:

```shell
# macOS/*nix
echo $VARNAME

# windows
echo %VARNAME%
```

Once you've setup your system with [`PYTHONPATH`](https://bic-berkeley.github.io/psych-214-fall-2016/using_pythonpath.html) as per [*python documentation*](https://docs.python.org/3/using/cmdline.html#envvar-PYTHONPATH) is an important directory where any `import` statements looks for based on their order of importance. If a source code/module is not available check necessary environment variables and/or ask the administrator for the source files.

Most of the utility functions available in `PYTHONPATH` is tracked and maintained in [GIST.GitHub/ZenithClown](https://gist.github.com/ZenithClown) which provides detailed documentation and code snippets/example use cases etc. For more information, and category wise module check [github](https://github.com/ZenithClown/ZenithClown) repository.

In [5]:
import tablescraper as ts # https://ds-gringotts.readthedocs.io/en/latest/

In [6]:
weburi = "https://www.chittorgarh.com/report/ipo-in-india-list-main-board-sme/82/sme/?year={year}#table_section"

data = pd.concat([ts.chittorgarh(weburi.format(year = year), parsedates = True) for year in range(2012, 2026)])
data.sample(3)

Waiting for Contents...:   0%|          | 0/5 [00:00<?, ?it/s]

Waiting for Contents...:   0%|          | 0/5 [00:00<?, ?it/s]

Waiting for Contents...:   0%|          | 0/5 [00:00<?, ?it/s]

Waiting for Contents...:   0%|          | 0/5 [00:00<?, ?it/s]

Waiting for Contents...:   0%|          | 0/5 [00:00<?, ?it/s]

Waiting for Contents...:   0%|          | 0/5 [00:00<?, ?it/s]

Waiting for Contents...:   0%|          | 0/5 [00:00<?, ?it/s]

Waiting for Contents...:   0%|          | 0/5 [00:00<?, ?it/s]

Waiting for Contents...:   0%|          | 0/5 [00:00<?, ?it/s]

Waiting for Contents...:   0%|          | 0/5 [00:00<?, ?it/s]

Waiting for Contents...:   0%|          | 0/5 [00:00<?, ?it/s]

Waiting for Contents...:   0%|          | 0/5 [00:00<?, ?it/s]

Waiting for Contents...:   0%|          | 0/5 [00:00<?, ?it/s]

Waiting for Contents...:   0%|          | 0/5 [00:00<?, ?it/s]

,CompanyName,OpeningDate,ClosingDate,ListingDate,IssuePrice,TotalIssueAmount
36,SI.VI.Shipping Corp.Ltd.,2014-02-18,2014-02-21,2014-03-06,NaN,6.860
74,Holmarc Opto-Mechatronics Ltd.,2023-09-15,2023-09-20,2023-09-25,NaN,11.400
68,Debock Sales & Marketing Ltd.,2018-05-24,2018-05-28,2018-06-05,NaN,4.440

In [7]:
data["IPOType"] = "SME IPO"

In [8]:
data.sample(3)

,CompanyName,OpeningDate,ClosingDate,ListingDate,IssuePrice,TotalIssueAmount,IPOType
93,Empyrean Cashews Ltd.,2022-03-21,2022-03-23,2022-03-31,NaN,19.410,SME IPO
95,Patil Automation Ltd.,2025-06-16,2025-06-18,2025-06-23,120.000,69.610,SME IPO
62,Sodhani Academy of Fintech Enablers Ltd.,2024-09-12,2024-09-17,2024-09-23,NaN,6.120,SME IPO

In [9]:
password = quote_plus(r"PtF5w>o{E7pU{o[^v~vM/dOp[V(X>SgrrLatjB)2qb.ns=pi7i?&SA\/1e0EU#0=")

In [10]:
# the localhost engine is added for development purpose only
# the password and instance must be replaced with environment variables
destination = sa.create_engine(f"postgresql+psycopg2://postgres:{password}@80.225.203.208/finfolio")

In [11]:
data.columns = ["company_name", "po_opening_date", "po_closing_date", "po_listing_date", "po_issue_price", "po_issue_amount", "po_type"]

In [17]:
data = data[~data["po_opening_date"].isna()]

In [20]:
data = pd.concat([data, pd.read_sql("SELECT * FROM historic_public_offering", destination)], ignore_index = True)

In [22]:
data.drop(columns = ["public_offering_idkey"], inplace = True)

In [23]:
data.isnull().sum()

company_name          0
po_opening_date       0
po_closing_date       0
po_listing_date      38
po_issue_price     1529
po_issue_amount      25
po_type               0
dtype: int64

In [24]:
data

,company_name,po_opening_date,po_closing_date,po_listing_date,po_issue_price,po_issue_amount,po_type
0,Eco Friendly Food Processing Park Ltd.,2012-12-27 00:00:00,2012-12-31 00:00:00,2013-01-14 00:00:00,NaN,7.560,SME IPO
1,Veto Switchgears & Cables Ltd.,2012-12-03 00:00:00,2012-12-05 00:00:00,2012-02-13 00:00:00,NaN,25.010,SME IPO
2,Bronze infra-tech Ltd.,2012-10-19 00:00:00,2012-10-23 00:00:00,2012-11-07 00:00:00,NaN,8.680,SME IPO
3,RCL Retail Ltd.,2012-09-27 00:00:00,2012-10-01 00:00:00,2012-10-16 00:00:00,NaN,5.800,SME IPO
4,Anshu's Clothing Ltd.,2012-09-26 00:00:00,2012-09-28 00:00:00,2012-10-12 00:00:00,NaN,5.050,SME IPO
...,...,...,...,...,...,...,...
1671,Denta Water & Infra Solutions Ltd.,2025-01-22,2025-01-24,2025-01-29,294.000,220.500,MAINBOARD IPO
1672,Stallion India Fluorochemicals Ltd.,2025-01-16,2025-01-20,2025-01-23,90.000,199.450,MAINBOARD IPO
1673,Laxmi Dental Ltd.,2025-01-13,2025-01-15,2025-01-20,428.000,698.060,MAINBOARD IPO
1674,Quadrant Future Tek Ltd.,2025-01-07,2025-01-09,2025-01-14,290.000,290.000,MAINBOARD IPO
1675,Standard Glass Lining Technology Ltd.,2025-01-06,2025-01-08,2025-01-13,140.000,410.050,MAINBOARD IPO

In [25]:
data.to_sql("historic_public_offering", destination, schema = "public", index = False, if_exists = "append")

676