In [1]:
import numpy as np
import pandas as pd

In [4]:
from uuid import uuid4

In [9]:
from dbConnection import DBConnection

In [11]:
obj = DBConnection(username = "pOrgz", password = "myAdmin", db_name = "mysql", port = 33061, database = "financials_dev")
con = obj.connect()

## User Roles

<p style = " text-align: justify; ">Users control are defined based on user roles, for <code>pOrgz</code> application. The different role, and their functionalities are as follows:</p>

|                                 | ADMIN | USERS | READONLY | REVIEWER |
|:-------------------------------:|:-----:|:-----:|:--------:|:--------:|
|           Create User           |   Y   |       |          |          |
|         Alter/Edit User         |   Y   |   Y   |          |          |
|         Drop/Delete User        |   Y   |       |          |          |
|        Grant Data Access        |   Y   |       |          |     Y    |
|        Revoke Data Access       |   Y   |       |          |     Y    |
| Delete Database of a Ghost User |   Y   |       |          |     Y    |
|            View Data            |   Y   |   Y   |     Y    |          |
|            Edit Data            |   Y   |   Y   |          |          |
|           Delete Data           |   Y   |   Y   |          |          |

In [8]:
ROLES_TYPE = ["ADMIN", "USERS", "READONLY", "REVIEWER"]

# generate pandas dataframe, and push to database (for first time use only)
RolesType = pd.DataFrame({
    "RoleID"   : [ str(uuid4()) for _ in range(len(ROLES_TYPE)) ],
    "RoleName" : ROLES_TYPE
})

RolesType

                                 RoleID  RoleName
0  a631d600-e16d-468b-9d23-17886bfe9af9     ADMIN
1  15a969fd-ee6f-4379-8b8f-e21bfe77015c     USERS
2  15e22b95-10f6-436a-8d24-02c940262076  READONLY
3  8d8a4296-bb96-418e-83d2-12caf8affaa5  REVIEWER

In [12]:
RolesType.to_sql("RolesType", con, if_exists = "append", index = False)

## Account Type

In [13]:
ACCOUNT_TYPE = ["DEBIT", "CREDIT"]

# generate pandas dataframe, and push to database (for first time use only)
AccountType = pd.DataFrame({
    "ACTypeID"   : [ str(uuid4()) for _ in range(len(ACCOUNT_TYPE)) ],
    "ACTypeName" : ACCOUNT_TYPE
})

AccountType

                               ACTypeID ACTypeName
0  08c4a6c5-2fb4-4cf9-92ca-48114e8b5cf2      DEBIT
1  62432489-c88d-4e06-8281-6ce8563ab616     CREDIT

In [14]:
AccountType.to_sql("AccountType", con, if_exists = "append", index = False)